*{
    margin:0;
    padding: 0;
    }
    :root{
    
    }
    .cabecalho{
    background-color: rgba(116, 165, 197, 0.829);
    padding: 120px;
    }
    
    .corpo{
    background-color: rgba(62, 135, 184, 0.705);
    padding: 140px;
    }
    
    .footer{
    background-color: rgba(23, 144, 180, 0.788);
    padding: 160px;
    }
    .boton{
        position: fixed; 
        top: 20px;
        left: 20px;
        padding: 10px 20px ;
        background-color: azure;
        color: aqua;
        text-decoration: none;
        border-radius: 5px;


    }

    .boton:hover{
       background: linear-gradient(to right, #7bdadd, #489ce0, #36b8d8);
    }
.boton:active{
    font-size: 15px;
}