*{
    margin:0;
    padding: 0;
    }
    :root{
    
    }
    .cabecalho{
    background-color: rgba(49, 96, 128, 0.829);
    padding: 120px;
    }
    
    .corpo{
    background-color: rgba(172, 40, 143, 0.705);
    padding: 140px;
    }
    
    .footer{
    background-color: rgba(23, 241, 16, 0.788);
    padding: 160px;
    }